<% show_post ||= false %>

<div class="row" >
  <div class='span0 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post.id, comment, vote: true), method: :post, remote: true do %>
        <i class = 'icon-arrow-up'></i>
      <% end %>
     <% end %> 
  </br>
  <span id = "comment_<%= comment.id %>_votes">
    <%= pluralize(comment.total_votes, 'vote') %>
  </span>
  </br>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post.id, comment, vote: false), method: :post, remote: true do %>
        <i class = 'icon-arrow-down'></i>
      <% end %>
    <% end %>
  </br>
  </div>
  <div class='well span5'>
    <em>"<%= comment.comment %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br/>
    <span class="quiet">by</span> <%= link_to comment.user.username, user_path(comment.user.username) %>  at <%= display_datetime(comment.created_at) %>

  </div>
</div>
