<%= render 'shared/header', header: "Editing #{@user.username}'s Profile" %>

<%= render 'shared/errors', obj: @user %>
<h5>Update or enter your password to save changed</h5>
<div class = "well">
<%= form_for @user, as: :user, url: user_path(@user.id), method: :patch do |f| %>
	<div class = "control-group">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class = "control-group">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div class = "control-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class = "control-group">
		<%= f.label :about %>
		<%= f.text_field :about %>
	</div>
	<div class = "control-group">
	<%= f.submit "Update User Profile" %>
	</div>
<% end %>