<div class="well">
<h3>Viewing: </h3> <h4><%= @post.title %></h4>
<p><%= link_to @post.url, @post.url %></p>
<p><%= @post.description %></p>
</div>

<div class="well">
<h5>Comments:</h5>
<ul>
	<% @post.comments.each do |comment| %>
	<div class="well">
	<%= comment.comment %>
	</div>
	<% end %>
</ul>


<%= form_for [@post, @comment] do |f| %>
	<%= f.label :comment %>
	<%= f.text_field :comment %>
	<% f.label :post_id %>
	</br>
	<%= f.submit %>
<% end %>



<%= link_to "Home", root_path %> |
<%= link_to "Edit", edit_post_path %>